In [1]:
#!pip install sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import username,password

In [2]:
username,password

('postgres', 'postgres')

In [5]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Employee')
connection = engine.connect()

In [ ]:
#Create salary Dataframe

salaries_df = pd.read_sql("SELECT * FROM salaries",connection)
#salaries_df.head()

In [ ]:
#Get salary column
salary = salaries_df["salary"]
salary

In [ ]:
#Create a histogram to visualize the most common salary ranges for employees.
plt.hist(salary, 10, facecolor='blue', alpha=0.5)
plt.xlabel('Salary')
plt.ylabel('Number of Employees')
plt.title('Most Common Salary Ranges For Employees')
plt.grid()
plt.tight_layout()
plt.show()

In [ ]:
#Create title,salary Dataframe

title_salary_df = pd.read_sql("SELECT titles.title, salaries.salary FROM titles JOIN employees ON titles.title_id = employees.emp_title_id JOIN salaries ON salaries.emp_no = employees.emp_no",connection)
#title_salary_df.head()

In [ ]:
#Group by title
title_groupby = title_salary_df.groupby(title_salary_df["title"])
#title_groupby.count()

In [ ]:
average_salary = title_groupby["salary"].mean()
average_salary

In [ ]:
#Create Dataframe

average_salary_df = pd.DataFrame(average_salary)
clean_avg_sal = average_salary_df.reset_index()
#clean_avg_sal

In [ ]:
#Plot bar chart of average salary by title

x = clean_avg_sal['title']
y = clean_avg_sal['salary']

plt.bar(x, y)
plt.xlabel("Job Title")
plt.ylabel("Average Salary")
plt.title("Average Salary By Title")

# rotate axis labels
plt.setp(plt.gca().get_xticklabels(), rotation=45, horizontalalignment='right')

plt.show()